/* Common Style */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   outline: none;
}

html {
   font-size: 62.5%;
}

body {
   font-family: Helvetica, sans-serif;
   width: 100%;
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
}

/* Vision Navigation */
.vision-test-container {
   width: 80%;
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
}

.vision-test-navigation {
   display: flex;
   align-items: center;
   width: 100%;
   justify-content: space-evenly;
}

.vision-btn {
   cursor: pointer;
   border: 2px solid #000;
   text-align: center;
   width: 80%;
   font-size: 1rem;
   margin: 1rem;
   padding: 1rem;
   transition: background-color 0.3s, color 0.3s;
}

.vision-btn:hover {
   background-color: #000;
   color: #fff;
}

.vision-btn:target {
   background-color: #000;
   color: #fff;
}

.vision-btn p strong {
   font-size: 2rem;
}

.vision-btn p span {
   font-size: 1rem;
}

.vision-btn p {
   pointer-events: none;
}

.vision-btn.active {
   background-color: #000;
   color: #fff;
}

.vision-btn.active:hover {
   background-color: #fff;
   color: #000;
}

/* Image Comparison */
.image-comparison-slider {
   position: relative;
   width: 50vw;
   overflow: hidden;
   border-radius: 0.5rem;
   cursor: col-resize;
}

.image-comparison-slider img {
   display: block;
   width: 50vw;
   height: auto;
   max-height: 70vh;
   object-fit: cover;
   pointer-events: none;
   user-select: none;
}

.image-comparison-slider .img-wrapper {
   position: absolute;
   top: 0;
   right: 0;
   width: 50%;
   height: 100%;
   overflow: hidden;
   z-index: 1;
}

.image-comparison-slider .img-wrapper img {
   position: absolute;
   top: 0;
   right: 0;
   height: 100%;
}

.image-comparison-slider .label {
   position: absolute;
   top: 1rem;
   z-index: 3;
   color: #fff;
   background-color: #513b41;
   padding: 0.5rem 0.75rem;
   font-size: 1rem;
   text-align: center;
   letter-spacing: 0.4rem;
   user-select: none;
   opacity: 1;
}

.image-comparison-slider .label.label-before {
   left: 1rem;
}

.image-comparison-slider .label.label-after {
   right: 1rem;
   background-color: #d62828;
}

.image-comparison-slider .handle {
   position: absolute;
   top: 0;
   left: calc(50% - 50px / 2);
   width: 50px;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   user-select: none;
   z-index: 2;
}

.image-comparison-slider .handle-line {
   width: 2px;
   flex-grow: 1;
   background-color: #d62828;
}

.image-comparison-slider .handle-circle {
   width: 50px;
   height: 50px;
   color: #d62828;
   border: 2px solid #d62828;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}

.vision-test {
   display: none;
   opacity: 0;
   transition: opacity 0.3s 1s;
}

.current {
   display: inline-block;
   opacity: 1;
   transition: opacity 0.3s 1s;
}

@media (max-width: 700px) {
   html {
      font-size: 50%;
   }
   :root {
      width: 90vw;
   }

   .vision-test-navigation {
     flex-direction: column;
   }
   .vision-btn{
     padding: 2rem;
   }
}
