@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* Common Style */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   outline: none;
   font-family: "Montserrat", sans-serif;
}

html {
   font-size: 62.5%;
}

body {
   width: 100%;
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #f1faee;
}

.section-heading {
   font-size: 2rem;
   font-weight: 300;
   text-align: center;
   color: #1d3557;
}

.section-heading span {
   font-weight: 500;
}

/* Vision Navigation */
.vision-test-container {
   width: 80%;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
}

.vision-test-navigation {
   display: flex;
   align-items: center;
   width: 100%;
   justify-content: space-evenly;
}

.vision-btn {
   cursor: pointer;
   border: 2px solid #e63946;
   text-align: center;
   width: 80%;
   font-size: 1rem;
   margin: 1rem;
   padding: 1rem;
   border-radius: 1rem;
   transition: background-color 0.3s, color 0.3s;
   color: #1d3557;
}

.vision-btn:hover {
   background-color: #e63946;
   color: #fff;
}

.vision-btn p strong {
   font-size: 2rem;
}

.vision-btn p span {
   font-size: 1rem;
}

.vision-btn p {
   pointer-events: none;
}

.active {
   background-color: #e63946;
}

.active:hover {
   background-color: #fff;
   color: #457b9d;
}

/* Image Comparison */
.image-comparison-slider {
   position: relative;
   width: 50vw;
   overflow: hidden;
   border-bottom-left-radius: .5rem;
   border-bottom-right-radius: .5rem;
   cursor: col-resize;
}

.image-comparison-slider img {
   display: block;
   width: 50vw;
   height: auto;
   max-height: 70vh;
   object-fit: cover;
   pointer-events: none;
   user-select: none;
}

.image-comparison-slider .img-wrapper {
   position: absolute;
   top: 0;
   right: 0;
   width: 50%;
   height: 100%;
   overflow: hidden;
   z-index: 1;
}

.image-comparison-slider .img-wrapper img {
   position: absolute;
   top: 0;
   right: 0;
   height: 100%;
}

.image-comparison-slider .label {
   position: absolute;
   bottom: 1rem;
   z-index: 3;
   color: #fff;
   background-color: #457b9d;
   padding: 0.5rem 0.75rem;
   font-size: 1rem;
   text-align: center;
   letter-spacing: 0.2rem;
   user-select: none;
   opacity: 1;
}

.image-comparison-slider .label.label-before {
   left: 1rem;
}

.image-comparison-slider .label.label-after {
   right: 1rem;
   background-color: #e63946;
}

.image-comparison-slider .handle {
   position: absolute;
   top: 0;
   left: calc(50% - 50px / 2);
   width: 50px;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   user-select: none;
   z-index: 2;
}

.image-comparison-slider .handle-line {
   width: 2px;
   flex-grow: 1;
   background-color: #f1faee;
}

.image-comparison-slider .handle-circle {
   width: 50px;
   height: 50px;
   color: #f1faee;
   border: 2px solid #f1faee;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}

.image-comparison-slider .handle-circle i {
   color: #000;
}

.vision-test {
   display: none;
   opacity: 0;
   transition: opacity 0.3s 1s;
}

.description {
   width: 100%;
   text-align: center;
   background-color: #1d3557;
   color: #f1faee;
   border-top-left-radius: .5rem;
   border-top-right-radius: .5rem;
}

.vision-title {
   font-size: 5rem;
}

.description p {
   font-size: 2rem;
}

.current {
   display: flex;
   flex-direction: column;
   align-items: center;
   opacity: 1;
   transition: opacity 0.3s 1s;
}

@media (max-width: 1450px) {
   .section-heading {
      margin: 1rem 0;
   }
   .description {
      padding: 1rem;
   }
   .vision-title {
      font-size: 3rem;
   }

   .description p {
      font-size: 1rem;
   }

   .image-comparison-slider .label {
      font-size: 0.8rem;
   }
}

@media (max-width: 700px) {
   :root {
      width: 90vw;
   }
   html {
      font-size: 50%;
   }

   .vision-test-navigation {
      flex-direction: column;
   }

   .vision-btn {
      padding: 2rem;
   }
}

@media (max-width: 550px) {
   .vision-title {
      font-size: 1.5rem;
   }

   .description p {
      font-size: 1rem;
   }

   .image-comparison-slider .label {
      display: none;
   }
}
